<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            
            <title>calculo integral</title>      
        </div>
        <div class="div_info">
            <h4><a>Antes que nada, ¿qué es integral? Integrar es el proceso recíproco del de derivar, es decir, 
                dada una función f(x), busca aquellas funciones F(x) que al ser derivadas conducen a f(x).</a>
            </h4>
            <h4>Se dice, entonces, que F(x) es una primitiva o antiderivada de f(x); dicho de otro modo las primitivas
                 de f(x) son las funciones derivables F(x) tales que:               
            </h4>
            <h4>F'(x) = f(x).</h4>
            
            <h4>Si una función f(x) tiene primitiva, tiene infinitas primitivas, diferenciándose todas ellas en una 
                constante.</h4>
            <h3>[F(x) + C]' = F'(x) + 0 = F'(x) = f(x).</h3>
            <h1>_______________________________________</h1>
            <div class="picture">
                <div>
                    <img src="./assets/img/calculo1_img.jpg" alt="Random first slide">    x
                </div>
                
            </div>
           

        
        </div>
        <div class="div-info-Integral-indefinida">
            <h1>_______________________________________</h1>
            <h1>1. Integral Indefinida</h1>
            <h1></h1>
            <h5 posicion="center">
                Integral indefinida es el conjunto de las infinitas primitivas que puede tener una función.
                Se representa por ∫ f(x) dx.</h5>
                <h5 posicion="center">
                Se lee como "la integral indefinida de f(x) respecto a x" Por lo tanto, f(x) dx es una conjunto de funciones; no es una función sola, ni un número.
                La función f que se está integrando se llama el integrando, y la variable x se llama la variable de integración.
                 </h5>
                <h5>C es la constante de integración y puede tomar cualquier valor numérico real.
                </h5>
               <h5> Si F(x) es una primitiva de f(x) se tiene que:</h5>
                <h5>∫ f(x) dx = F(x) + C.</h5>
                <h5>
                Para comprobar que la primitiva de una función es correcta basta con derivar.
                </h5>
           
            <div posicion="center">
                <img src="./assets/img/calculo2_img.jpg" class="rounded mx-auto d-block" alt="Random first slide">
                <H2>1.1 Métodos de integración</H2>
                
                <H4>Se entiende por métodos de integración cualquiera de las diferentes técnicas elementales usadas para calcular una antiderivada o integral
                    indefinida de una función.
                    </H4>
                <h4>Así, dada una función f(x), los métodos de integración son técnicas cuyo uso (usualmente combinado) permite encontrar una función F(x) tal que</h4>
                <h4>F(x)=∫ ƒ(x) dx</h4>
                <h4>lo cual, por el teorema fundamental del cálculo equivale a hallar una función F(x) tal que f(x) es su derivada.</h4>
                <img src="./assets/img/Calculo Integral_page-0003.jpg" class="rounded mx-auto d-block" alt="Random first slide">
                <h4>Existen varios métodos entre los que se destacan los siguientes:         </h4>
                <h4>* Integración por Cambio de variable</h4>
                <h4>* Integración por parte para integrar productos de funciones.</h4>
                <h4>* Funciones Trigonométricas.</h4>
                <h4>* Integración de funciones racionales</h4>

            </div>
            <div>
                <H2>1.3 Integrales Indefinidas</H2>
                <H4>La idea de la integral indefinida supuso un paso más en el camino de la abstracción emprendido por las matemáticas modernas.</H4>
                <h4>Con ella, la integral dejó de referirse únicamente a un modo de determinar las áreas que forman curvas y rectas para asumir
                 la condición de función en sí, susceptible de formar parte de ecuaciones y descripciones de modelos en el gran marco de las 
                 teorías del análisis matemático.
                </h4>
            </div>
            <div>
                <H2>1.4 Indifinidas</H2>
                <img src="./assets/img/Arroz-integral.jfif" class="img-rounded img-responsive" style="width: 25%" alt="Random first slide">
                <H4>Dada una función f (x), se dice que la función F (x) es primitiva de ella si se verifica que F¿ (x) = f (x).</H4>
                <h4>La operación consistente en obtener la primitiva de una función dada se denomina integración, que es la inversa 
                    de la derivación.
                </h4>
                <h4>De esta definición se desprende que la función f (x) posee infinitas primitivas, ya que si F (x) es 
                    primhtiva de f (x), también lo será cualquier otra función definida como G (x) = F (x) + C, siendo C un valor constante.
                </h4>
                <h4>El conjunto de todas las primitivas de una función f (x) dada se denomina integral indefinida de la función, y se denota genéricamente como:</h4>
                <img src="./assets/img/Calculo Integral_page-0004.jpg" class="rounded mx-auto d-block" alt="Random first slide">
                <h4>Las primitivas de una función forman una familia de curvas desplazadas verticalmente unas de otras. Así, la función f (x) = x tiene 
                    infinitas primitivas que difieren en una constante, tal como se muestra a la derecha.</h4>
            </div>
            <div>
                <H2>1.5 Propiedades de las infinitivas</H2>
                <img src="./assets/img/Calculo Integral_page-0004.jpg" class="rounded mx-auto d-block" alt="Random first slide">
                <H4>Aplicando las propiedades de la derivación (ver t43), es posible determinar algunas propiedades comunes de la integración. </H4>
                <h4>Las siguientes propiedades de linealidad sirven para descomponer integrales complicadas en otras más sencillas:
                </h4>
                <h4>* La integral de la suma (o diferencia) de dos funciones es igual a la suma (o diferencia) de las integrales de cada una de ellas.</h4>
                <img src="./assets/img/Calculo Integral_page-0004.1.jpg" class="rounded mx-auto d-block" alt="Random first slide">
                <h4>La integral del producto de una constante por una función es igual al producto de la constante por la integral de la función.</h4>
                <img src="./assets/img/Calculo Integral_page-0004.2.jpg" class="rounded mx-auto d-block" alt="Random first slide">

            </div>

            <div>
                <H2>1.6 Tabla de integrales inmediatas</H2>
                <H4>En la tabla siguiente se resumen las reglas de integración de algunas funciones comunes. </H4>
                <h4>En general, se llama integrales inmediatas a las que se deducen directamente de esta tabla y de las propiedades de linealidad de la integración.
                </h4>
                <img src="./assets/img/Calculo Integral_page-0005.jpg" class="rounded mx-auto d-block" alt="Random first slide">
                <h4>Tabla de integrales inmediatas.</h4>
                <h1>_______________________________________</h1>                
            </div>

            <div>
                <section class="home" id="home">
                    <div class="section" id="carousel">
                        <div class="container">
                            <div class="tim-title">
                            </div>
                            <div class="row">
                                <div class="col-md-8 mr-auto ml-auto">
                                    <div class="card page-carousel">
                                        <ngb-carousel>
                                            <ng-template ngbSlide>
                                                <img src="./assets/img/geo.jfif" alt="Random first slide">
                                                <div class="carousel-caption">
                                                    <H2>Métodos De Integración</H2>
                                                    <p> Las operaciones de integración de funciones pueden llegar a ser muy complicadas. 
                                                        Para facilitarlas se han ideado diversos procedimientos generales, de los cuales los más extendidos 
                                                        son los llamados métodos de sustitución o cambio de variable y de integración por partes.</p>
                                                </div>
                                            </ng-template>
                                            <ng-template ngbSlide>
                                                <img src="./assets/img/uwu.jfif" alt="Random second slide">
                                                <div class="carousel-caption">
                                                    <h2>Método de sustitución</h2>
                                                    <p>Uno de los dos procedimientos más habituales para la resolución de integrales complicadas
                                                        es el llamado método de sustitución o de cambio de variable. Esta técnica consiste en
                                                        introducir una nueva variable t para sustituir a una expresión apropiada del integrando, de
                                                        manera que la expresión resultante sea más fácil de integrar. Por ejemplo, la integral:</p>                                                </div>
                                            </ng-template>  
                                            <ng-template ngbSlide>
                                                <img src="./assets/img/uwu.jfif" alt="Random second slide">
                                                <div class="carousel-caption">
                                                    <p>Uno de los dos procedimientos más habituales para la resolución de integrales complicadas
                                                        es el llamado método de sustitución o de cambio de variable. Esta técnica consiste en
                                                        introducir una nueva variable t para sustituir a una expresión apropiada del integrando, de
                                                        manera que la expresión resultante sea más fácil de integrar. Por ejemplo, la integral:</p>                                                </div>
                                            </ng-template>                    
                                        </ngb-carousel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>


            </div>
            

        </div>
        <div>//LUCIO
            <section class="home" id="home">
                <div class="section" id="carousel">
                    <div class="container">
                        <div class="tim-title">
                        </div>
                        <div class="row">
                            <div class="col-md-8 mr-auto ml-auto">
                                <div class="card page-carousel">
                                    <h3>Metodos / Propiedades</h3>//4 metodos dar ejemplo de cmo se hacen
                                    <ngb-carousel>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                            <div class="carousel-caption">
                                                <H3>Natural</H3>
                                                <p> </p>
                                                <button type="button" class="btn btn-danger btn-round"><i class="fa fa-heart"></i> Saber mas...</button>
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                            <div class="carousel-caption">
                                                <h3>Cuadrada</h3>
                                                <p></p>
                                                <button type="button" class="btn btn-danger btn-round"><i class="fa fa-heart"></i> Saber mas...</button>
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/soroush-karimi.jpg" alt="Random thirt slide">                                         
                                            <div class="carousel-caption">
                                                <h3>Cubo</h3>
                                                <p></p>
                                                <button type="button" class="btn btn-danger btn-round"><i class="fa fa-heart"></i> Saber mas...</button>
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/soroush-karimi.jpg" alt="Random fourt slide">
                                            <div class="carousel-caption">
                                                <h3>Cuarta Potencia</h3>
                                                <p></p>
                                                <button type="button" class="btn btn-danger btn-round"><i class="fa fa-heart"></i> Saber mas...</button>
                                            </div>
                                        </ng-template>
                                    </ngb-carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <div>
            <div>
                <h3>Tecnicas</h3> 
                <p>La integración se puede utilizar para encontrar áreas, volúmenes, 
                    puntos centrales y muchas cosas útiles. Pero es más fácil comenzar 
                    por encontrar el área debajo de la curva</p>
                <table>
                </table>
            </div>  
        </div>


        </div>
        //LUCIO 

       <h1> integral indefinida</h1>
        <div>
            <h1>Integrales Impropias</h1>

        </div>



        <div id="buttons">
            <div class="tim-title">
                <h3>Buttons
                    <br/>
                    <small>Pick your style</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-danger">Default</button>
                    <button type="button" class="btn btn-danger btn-round">Round</button>
                    <button type="button" class="btn btn-danger btn-round"><i class="fa fa-heart"></i> With Icon</button>
                    <button type="button" class="btn btn-danger btn-just-icon"><i class="fa fa-heart"></i></button>
                    <button type="button" class="btn btn-danger btn-link">Simple</button>
                </div>
            </div>
            <div class="tim-title">
                <h3><small>Pick your size</small></h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-outline-danger btn-sm">Small</button>
                    <button type="button" class="btn btn-outline-danger">Regular</button>
                    <button type="button" class="btn btn-outline-danger btn-lg">Large</button>
                </div>
            </div>
            <div class="tim-title">
                <h3><small>Pick your color</small></h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-outline-default btn-round">Default</button><button type="button" class="btn btn-outline-primary btn-round">Primary</button>
                    <button type="button" class="btn btn-outline-info btn-round">Info</button>
                    <button type="button" class="btn btn-outline-success btn-round">Success</button>
                    <button type="button" class="btn btn-outline-warning btn-round">Warning</button>
                    <button type="button" class="btn btn-outline-danger btn-round">Danger</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-default btn-round">Default</button>
                    <button type="button" class="btn btn-primary btn-round">Primary</button>
                    <button type="button" class="btn btn-info btn-round">Info</button>
                    <button type="button" class="btn btn-success btn-round">Success</button>
                    <button type="button" class="btn btn-warning btn-round">Warning</button>
                    <button type="button" class="btn btn-danger btn-round">Danger</button>
                </div>
            </div>
        </div>
            <br/>
        <div class="tim-title">
            <h3>Links</h3>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#0" class="btn btn-link btn-default">Default</a>
                <a href="#0" class="btn btn-link btn-primary">Primary</a>
                <a href="#0" class="btn btn-link btn-success">Success</a>
                <a href="#0" class="btn btn-link btn-info">Info</a>
                <a href="#0" class="btn btn-link btn-warning">Warning</a>
                <a href="#0" class="btn btn-link btn-danger">Danger</a>
                <a href="#0" class="btn btn-link btn-neutral">Neutral</a>
            </div>
        </div>
        <br/>
        <div class="tim-title">
            <h3>Inputs</h3>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Default">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group has-success">
                    <input type="text" class="form-control form-control-success" id="inputSuccess1" value="Success">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group has-danger">
                    <input type="text" class="form-control form-control-danger" id="inputDanger1" value="Error">
                    <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false" >
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-group" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Checkboxes</h3>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Unchecked
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">
                    Checked
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" disabled="">
                    Disabled unchecked
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="" disabled="">
                    Disabled checked
                    <span class="form-check-sign"></span>
                  </label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Radio Buttons</h3>
                </div>
                <div class="form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                    Radio is off
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked="">
                    Radio is on
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check-radio disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios3" value="option3" disabled="">
                    Disabled Radio is off
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check-radio disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios4" value="option3" checked disabled="">
                    Disabled Radio is on
                    <span class="form-check-sign"></span>
                  </label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Toggle Buttons</h3>
                </div>
                <bSwitch
                    [switch-on-color]="'primary'">
                </bSwitch>
                <bSwitch
                    [switch-on-color]="'primary'"
                    [(ngModel)]="state_default"> Toggle is off
                </bSwitch>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Sliders</h3>
                </div>
                <nouislider [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="simpleSlider" [tooltips]="false" class="slider"></nouislider>
                <br>
                <nouislider class="slider slider-info" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="false"></nouislider>
            </div>
        </div>
    </div>
</div>
